    h2 {
      text-align: center;
    }

    .card {
      border-radius: 15px;
      cursor: pointer;
    }

    .card img {
      border-radius: 15px 15px 0 0;
    }

    .modal-body img {
      width: 100%;
      height: auto;
    }